/*Importaciones - Fuentes */

<style>@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

</style>:root {
    /* hace referencia a archivo html archivo raiz*/
    /*Paleta de colores*/

    --colorFondo: #e7dfd8;
    --colorCuadro1: #000000;
    --colorText: #231f20;

    /* Fuentes */
    --textTitle: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7dfd8;
    /*Colocando la variable var(var(--colorFondo) no toma el color*/
    width: 100vw;
    height: auto;
    /*Overflow-> sirve para definir que pasa con el contenido que sobresale del contenedor*/
    overflow-x: hidden;
    box-sizing: border-box;

}

/*  -----------  HEADER  ----------- es un contenedor padre donde se deben determinar las dimensiones de los espacios */

header {
    margin-top: 80px;
    width: 99vw;
    height: auto;
}

.menuNav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.home {

    margin-left: 150px;
    font-size: 70px;
    align-items: center;
    display: flex;
    justify-content: left;

}

.listaMenu {

    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    gap: 30%;
    list-style: none;


}

.listaMenu a {
    text-decoration: none;
    color: var(--colorTexto);
    font-size: 25px;
    font-weight: bold;
}

.listaMenu a:hover {
    color: brown;
}

/* --------------  MAIN  --------------  */

main {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*Sección 1*/
.seccion1 {
    margin-top: 80px;
    border: 2px solid black;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.titulo1 {
    width: 100%;
    margin-top: 100px;
    margin-left: 70px;
    font-size: 70px;
    text-align: center;

}

.titulo2 {
    width: 100%;
    text-align: center;
    line-height: 70px;
    margin-left: 70px;
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
}


.mujerBa img {
    text-align: center;
    width: 600px;
    height: 397px;
    margin-left: 90px;
}

/*Sección 2*/
.seccion2 {
    margin: 100px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div-video {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    text-align: center;
}

.skills {
    width: 80%;
    height: 100%;
    margin-top: 70px;
    margin-left: 45px;

}

.softSkills {

    font-size: 50px;
    text-align: center;
    line-height: 40px;
    text-align: center;
}

.skillDescription {
    width: 100%;
    margin-top: 70px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;

}

/*Sección 2*/
.seccion3 {
    width: 90%;
    height: auto;
    overflow-x: hidden;
}

/* .education{
  
     margin-top: 50px;
     margin-left: 200px; 
     margin-right: 130px;
     font-size: 30px;
} */

.projectTitle {
    width: 100%;
    margin-bottom: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;

}


.projects {
    width: 100%;
    height: 100%;
    display: flex;
    animation-name: deslizar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: linear;
}


@keyframes deslizar {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(-6%);

    }
}

.projects img {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
}



footer {
    margin-top: 70px;
    margin-left: 90px;
    border: 1px solid black;
    width: 90%;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
}

.contact {
    font-size: 30px;
    font-weight: lighter;
}

.redesSociales {
    font-size: 30px;
    align-items: right;
    margin-right: 50px;
}

i {
    color: black;
}

/* Responsive */

@media screen and (max-width:490px) and (min-width:390px) {
    header {
        width: 100%;
    }

    .menuNav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home {
        width: 100%;
        margin: 0;
    }

    .home a {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .listaMenu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 100%;
    }

    .seccion1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulos {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .titulo1 {
        margin-top: 0px;
        margin: 0px;
    }

    .titulo2 {
        margin-top: 0px;
        margin: 0px;
    }

    .mujerBa img {
        display: flex;
        text-align: center;
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .seccion2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .seccion3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .projectTitle {
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .projects {
      
        animation-duration: 1s;
    }

    .projects img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    footer {
        margin-top: 50px;
        margin-left: 10px;
        margin-left: 10px;
        width: 95%;
        height: auto;
    }

    .contact {
        width: 100%;
        font-size: 20px;
    }

    .redesSociales {
        width: 100%;
    }
}