/*Importaciones - Fuentes */

<style>@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

</style>:root {
    /* hace referencia a archivo html archivo raiz*/
    /*Paleta de colores*/

    /* --colorFondo: #e7dfd8; #36C9C6; */

    --colorFondo: #F5F5F5;
    --colorEnfasis: #36C9C6;
    --colorCuadro1: #9BC1BC;
    

    /* Fuentes */
    --textTitle: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #F5F5F5;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

/*  -----------  HEADER  ----------- */

header {
    background-color: #36C9C6;
    width: 100vw;
    height: 15vh;
}

.menuNav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.home {

    margin-left: 100px;
    font-size: 70px;
    align-items: center;
    display: flex;
    justify-content: left;
    align-items: center;
    /* text-shadow: 1px 1px #3b3b3b; */

}



.listaMenu {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    gap: 50px;
    list-style: none;
    color: whitesmoke;
    /* text-shadow: 1px 1px #3b3b3b; */
}

.listaMenu a {
    text-decoration: none;
    color: var(--colorTexto);
    font-size: 30px;
    font-weight: bold;
}

.listaMenu a:hover {
    color: darkcyan;
}

/* --------------  MAIN  --------------  */

main {
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    margin: 5%;
    }

/*Sección 1*/
.principal {
    background-color: #9BC1BC;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;

}
   
.launchingDesc{
    margin:10%;
}


.launching {
    border: solid   red;
    width: 100%;
    height: 100%;
    display: flex;
    animation-name: salto;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}


@keyframes salto {

    /* transform: translateX(10px) rotate(10deg) translateY(5px); */
    
     from {
        transform: perspective (100px) 
    }
/*
    to {
        transform: scale(100%);

    } */
}

.projects img {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    margin-top: 70px;
    background-color: #36C9C6;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    font-size: 30px;
    font-weight: lighter;
    color: whitesmoke;
    align-items: center;
}

.redesSociales {
    font-size: 30px;
}

i {
    color: whitesmoke;
}

/* Responsive */

@media screen and (max-width:1024px) and (min-width:390px) {
    header {
        width: 100%;
        height: auto;
        background-color: #36C9C6;
    }

    .menuNav {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home {
        width: 100%;
        margin: 0;
    }

    .home a {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .listaMenu {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        line-height: 5px;

    }

    main {
        width: 100%;
    }

    .seccion1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .titulo1 {
        margin-top: 0px;
        margin: 0px;
    }

    .titulo2 {
        margin-top: 0px;
        margin: 0px;
    }

    .mujerBa img {
        display: flex;
        text-align: center;
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .seccion2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .softSkills{
        margin-top: 20px;  
    }
    .skillDescription{
        font-size: 35px;
    }

    .div-video {
        width: 100%;
        height: 300px;
    }


    .seccion3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .projectTitle {
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .projects {
        width: 100%;
        animation-duration: 1s;
    }

    .projects img {
        width: 10%;
        height: auto;    
    }

    footer {
        margin-top: 50px;
        margin-left: 10px;
        width: 95%;
        height: auto;
    }

    .contact {
        width: 100%;
        font-size: 20px;
    }

    .redesSociales {
        width: 100%;
    }
}
/* 
@media screen and (max-width:1024px) and (min-width:390px) {
    header {
        width: 100%;
        height: auto;
        background-color: #36C9C6;
    }

    .menuNav {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home {
        width: 100%;
        margin: 0;
    }

    .home a {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .listaMenu {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        line-height: 5px;

    }

    main {
        width: 100%;
    }

    .seccion1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .titulo1 {
        margin-top: 0px;
        margin: 0px;
    }

    .titulo2 {
        margin-top: 0px;
        margin: 0px;
    }

    .mujerBa img {
        display: flex;
        text-align: center;
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .seccion2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        ima
    }

    .div-video {
        width: 100%;
        height: 200px;
    }


    .seccion3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .projectTitle {
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .projects {

        animation-duration: 1s;
    }

    .projects img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    footer {
        margin-top: 50px;
        margin-left: 10px;
        margin-left: 10px;
        width: 95%;
        height: auto;
    }

    .contact {
        width: 100%;
        font-size: 20px;
    }

    .redesSociales {
        width: 100%;
    }
} */