/*Importaciones - Fuentes */

<style>@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

</style>:root {
    /* hace referencia a archivo html archivo raiz*/
    /*Paleta de colores*/

    /* --colorFondo: #e7dfd8; #36C9C6; */

    --colorFondo: #e7dfd8;
    --colorCuadro1: #000000;
    --colorText: #231f20;


    /* Fuentes */
    --textTitle: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #e7dfd8;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

/*  -----------  HEADER  ----------- */

header {
    background-color: #e7dfd8;
    width: 100vw;
    height: 15vh;
}

.menuNav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {

    margin-left: 100px;
    font-size: 60px;
    align-items: center;
    display: flex;
    justify-content: left;
    align-items: center;
    /* text-shadow: 1px 1px #3b3b3b; */

}



.listaMenu {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    gap: 50px;
    list-style: none;
    color: #231f20;
    /* text-shadow: 1px 1px #3b3b3b; */
}

.listaMenu a {
    text-decoration: none;
    color: var(--colorTexto);
    font-size: 30px;
    font-weight: bold;
}

.listaMenu a:hover {
    color: rgb(148, 103, 18);
    transform: .5s;
}

/* .menuRes {
    font-size: 60px;
    cursor: pointer;
    display: none;
}

.check {
    display: none;
} */

/* --------------  MAIN  --------------  */

main {
    border: solid red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e7dfd8;
}

/*Sección 1*/
.seccion1 {
    margin-top: 0px;
    width: 90%;
    height: 70vh;
    display: grid;
}

.seccion2{
    border: solid red;
    width: 200px;
    height: 200px;
}
.titulo1 {
    width: 100%;
    margin-top: 100px;
    margin-left: 70px;
    font-size: 70px;
    text-align: center;

}

.titulo2 {
    width: 100%;
    text-align: center;
    line-height: 70px;
    margin-left: 70px;
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
}


.mujerBa img {
    text-align: center;
    width: 600px;
    height: 397px;

}

/*Sección 2*/
/* .seccion2 {
    margin: 100px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
} */


.skills {
    width: 80%;
    height: 100%;
    margin-top: 70px;
    margin-left: 45px;
    color: #2e2d2d;
}

.softSkills {
    font-size: 50px;
    text-align: center;
    line-height: 40px;
    text-align: center;
}

.skillDescription {
    width: 100%;
    margin-top: 70px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;

}

.seccion3 {
    width: 90%;
    height: auto;
    overflow-x: hidden;
}

/* .education{
  
     margin-top: 50px;
     margin-left: 200px; 
     margin-right: 130px;
     font-size: 30px;
} */

.projectTitle {
    width: 100%;
    margin-bottom: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
    color: #2e2d2d;
}


.projects {
    width: 100%;
    height: 100%;
    display: flex;
    animation-name: deslizar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: linear;
}


@keyframes deslizar {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(-6%);
    }
}

.projects img {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    margin-top: 70px;
    border: solid #231f20;
    background-color: #e7dfd8;
    width: 90%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.contact {
    font-size: 30px;
    font-weight: lighter;
    color: #231f20;
    align-items: center;
}

.redesSociales {
    font-size: 30px;
}

i {
    color: #231f20;
}

/* Responsive */
/* 
@media screen and (max-width:1024px) and (min-width:390px) {
    header {
        width: 100%;
        height: auto;
        background-color: #e7dfd8;
    }

    .menuNav {

        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home {
        width: 100%;
        margin: 0;
    }

    .home a {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .listaMenu {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        line-height: 5px;
    }

    main {
        width: 100%;
    }

    .seccion1 {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .titulo1 {
        margin-top: 0px;
        margin: 0px;
    }

    .titulo2 {
        margin-top: 0px;
        margin: 0px;
    }

    .mujerBa img {
        display: flex;
        text-align: center;
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .seccion2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .softSkills {
        margin-top: 20px;
    }

    .skillDescription {
        font-size: 35px;
    }

    .div-video {
        width: 90%;
        height: 300px;
        margin-left: 5%;
    }


    .seccion3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .projectTitle {
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .projects {
        width: 40%;
        animation-duration: 3s;
    }

    .projects img {
        width: 15%;
        height: auto;
    }

    footer {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact {
        width: 100%;
        font-size: 20px;
        margin-left: 5%;
    }

    .redesSociales {
        width: 100%;
    }
} */

/* @media screen and (max-width:490px) and (min-width: 768px) { 
    header {
        width: 100%;
        height: auto;
        background-color: #e7dfd8;
    }

    .menuNav {

        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .home {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }

    .home a {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .listaMenu {
        border: solid red;
        position: fixed;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #dad1c9;
        top: 100px;
        right: 100%;
        transition: all .5s;

    }

    .listaMenu a:target {
        right: 100%;


    }

    .menuRes {
        display: block;
        margin-top: 10px;
        margin-right: 100px;
    }



    main {
        width: 100%;
    }

    .seccion1 {
        width: 90%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .titulo1 {
        margin-top: 0px;
        margin: 0px;
    }

    .titulo2 {
        margin-top: 0px;
        margin: 0px;
    }

    .mujerBa img {
        display: flex;
        text-align: center;
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .seccion2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .softSkills {
        margin-top: 20px;
    }

    .skillDescription {
        font-size: 35px;
    }

    .div-video {
        width: 90%;
        height: 300px;
        margin-left: 5%;
    }


    .seccion3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .projectTitle {
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .projects {
        width: 40%;
        animation-duration: 3s;
    }

    .projects img {
        width: 15%;
        height: auto;
    }

    footer {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact {
        width: 100%;
        font-size: 20px;
        margin-left: 5%;
    }

    .redesSociales {
        width: 100%;
    }
}*/